@model List<ProductionVS>

<div class="text-center">
    <h1 class="display-4">Portal der neue erneuerbaren Energien in Wallis</h1>
    @Html.Partial("ProductionBarChart")
    @Html.Partial("ProductionPieChart")
</div>