@model List<ProductionVS>

<div class="text-center">
    <h1 class="display-4">Portal der neue erneuerbaren Energien in Wallis</h1>
    <a asp-area="" asp-controller="Home" asp-action="Map">Map</a>
    @Html.Partial("ProductionBarChart")
    @Html.Partial("ProductionPieChart")
    
</div>