@model double

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Production PV Total 2023</h2>
<div>
    <p>Total Kwh: @Model</p>
    <canvas id="plantChart" width="400" height="200"></canvas>
</div>
